<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weibo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35A394851D6AAFE600E998C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35A3949E1D6AAFE700E998C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35A394A91D6AAFE700E998C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
